body {
    margin: 0;
    padding: 0;
    background-color:  #0d0d0d;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
  }



#container
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.navigation-bar {
    background-color:  #0d0d0d
    ;
    height: 150px;
    width: 100%;
    text-align:center;
    
  }
#logo{
    
   
    float: left;
    background-repeat: no-repeat;
    
}

#navigation-container{
    width: 100%;
    margin: 0 auto;
    height: 20vh;
    
   
}
.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align:bottom;
    float: right;
    padding-top: 40px;
    /*display:inline-block; było wcześniej, ale nie pozwalało mi przesunać menu na prawo */
   
  }

  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
   
  }
  
  .navigation-bar li a {
      
    color: gold;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }






/* ~~ under header ~~ */



#banner{
 height: 70vh;
 background-image: url("banner.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 /*background-position: 100% 60%;*/
 clear: both;
 
}
#text{
    line-height: 40vh;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
}
#content{
height: 100%;
}
.section{
  /*margin-top: -22px; /*robią się przerwy między divami*/
 height: 300vh;
 color: gold;

margin-top: -10vh;
 background-color: gray;
 margin-left: 25vh;
 margin-right: 25vh;
 

}



/* section divs */
.upSection {
  float:left;
  background-color:azure;

  
  width: 100%;
  margin-bottom: 2vh;

}
.downSection{

  float:left;
  background-color:bisque;
  margin-bottom: 5vh;
  
  width: 100%;

}
 

/* image formation */

.imageSectionUp{
  height: 50vh;
  width: 65vh;
  margin: 25px;

  background-color:black;
  float:left;
  
}
.imageSectionDown{
  height: 50vh;
  width: 65vh;
  margin: 25px;
  background-color:black;
  float:right;
  
}



/* Text formation */

.rightTxt{
background-color: brown;

float:right;
width: 50%;
margin: 20px;
}
















.button{
background: #1594e5;
color: #fff;
display: block;
width: 140px;
font-size: 24px;
text-transform: uppercase;
padding: 10px;
text-align: center;
cursor: pointer;
text-decoration: none;
float: left;
}

