body {
    margin: 0;
    padding: 0;
    background-color:  #eee;
    
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
  }


/*
#container
{

    width: 100%;
    height: 130vh;
    margin-left: auto;
    margin-right: auto;
    
}

.navigation-bar {
    background-color:  #f2f2f2;
    margin-top: -21px;
    height: 100px;
    width: 100%;
    text-align:center;
    position:fixed;
    transition: 0.2s;
    
  }
#logo{
    
   margin-left: 50px; 
   margin-top: 15px;
    float: left;
    background-repeat: no-repeat;
    
}

#navigation-container{
    width: 100%;
    margin: 0 auto;
    
    display:block;
    
   
}
.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align:bottom;
    float: right;
    margin-top: 10px;
    
    
   
  }

  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
   
  }
  
  .navigation-bar li a {
      
    color: #333333;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }


/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background-color: #e7e7e7;
  padding: 10px 5px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: #252525;;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  
}

/* Style the logo */
#navbar  {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  
}
#logo{
  
}
/* Links on mouse-over */
#navbar a:hover {
  background-color: #b1b1b1;
  color: #202020;;
}

/* Style the active/current link */
#navbar a.active {
 /* background-color: dodgerblue;  */ 
  color: #252525;;
  border: 1px;
  border-style: solid;
border-color: #00cccc;;
border-width: 2px;
}

/* Display some links to the right */
#navbar-right {
  float: right;
  margin-top: 15px;
  margin-right: 5px;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
















/* ~~ under header ~~ */



#banner{
 height: 100vh;
 background-image: url("banner.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 /*background-position: 100% 60%;*/
 clear: both;
 margin-bottom: 70px;
 display:block;
 margin-top: 70px:
 
 
}
#text{
  /*line-height: 40vh; */
  
    color: #f2f2f2;
    
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    width: 100%;
    height: 150px;
    padding-top: 45vh;
    -webkit-animation: fadein 2s linear 1 normal forwards;
}
@-webkit-keyframes fadein{
  from{
     opacity: 0;
  }
  to{
      opacity: 1;
  }
}

#upTxt {
  font-weight: bold;
  font-size: 90px;
  padding-left: 35vh;
}

#bottomTxt {
  font-size: 35px;
  padding-left: 35vh;
}







#content{
height: 100%;
margin-top: 15vh; 
}
.section{
  /*margin-top: -22px; /*robią się przerwy między divami*/
 height: 150vh;
 color: #333333;
 



/* background-color: gray;*/
 margin-left: 25vh;
 margin-right: 25vh;


}



/* section divs */

.upSection {
  height: 55vh;


  
  width: 100%;
  margin-bottom: 2vh;

}
.downSection{

  
 /* background-color:bisque;*/
  margin-bottom: 5vh;
  height: 30%;
  width: 100%;
  height: 55vh;
}


 

/* image formation */

.imageSectionUp{
  height: 90%;
  width: 66vh;
  margin: 25px;
 

  background-image: url("fix.jpg");
  background-size: cover!important; 
  float:left;
  
}
.imageSectionDown{
  height: 90%;
  width: 66vh;
  margin: 25px;
  

  background-image: url("modernisationPc.jpg");
  background-size: cover!important; 
  float:right;
  
}



/* Text formation */

.rightTxt{
 float:left;
 /* background-color:chocolate;*/
  width: 45%;
  margin: 40px 20px 0px 43px;
  
  
}


.leftTxt{
  float:left;
  /* background-color:chocolate;*/
   width: 45%;
   margin: 40px 0px 0px 25px;
   
   
 }









/* button formation */



.button{
  border-style: solid;
color: #333333;
display: block;
width: 140px;
font-size: 24px;
text-transform: uppercase;
padding: 10px;
text-align: center;
cursor: pointer;
text-decoration: none;
float: left;
border-radius: 6px;
border-color: #00cccc;;
}

#showMoreSL {
  margin: 40px 20px 0px 43px;
}

#showMoreSP {
  margin: 40px 0px 0px 25px;
}

/* break formation */

.break{
  background-image: url("step.jpg");
  height: 500PX;
  background-position-y: -100px;
  /* background-color:azure;*/
 margin-top: 15px;
  
   background-size: cover!important;  
   width: 100%;
  

}
#breakContent{

  margin-left: 25vh;
  margin-right: 25vh;
}
#breakHeader {
  line-height: 20vh;
    text-align: center;
    color: #f2f2f2;
    vertical-align: middle;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    font-size: 25px;
}
/* break step formation */

.breakStep{
  justify-content: center;
  
  
  display: flex;
   
}
/*
#break1{
  background-color: black;
  width: 30vh;
  height: 15vh;
  float: left;
  margin-right: 15px;
}
#break2{
  background-color: black;
  width: 30vh;
  height: 15vh;
  float: left;
  margin-right: 15px;
}
#break3{
  background-color: black;
  width: 30vh;
  height: 15vh;
  float: left;
  margin-right: 15px;
}
#break4{
  background-color: black;
  width: 30vh;
  height: 15vh;
  float: left;
  
}
*/
.step{
 
  width: 30vh;
  height: 15vh;
  float: left;
  margin-right: 15px;
}
.number{
  font-weight: bold;
  font-size: 75px;
color: #f2f2f2;
float: left;
margin-top: -9px;
}
.stepHead{
  color: #f2f2f2;
 margin-top: 0px;
 font-size: 29px;
 margin-left: 85px;
}
.stepTxt{
  color: #f2f2f2;
  margin-left: 7px;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.6;
}

/* contact formation */


.contact{
  margin-top: 70px;
  margin-left: 25vh;
  margin-right: 25vh;
  
  height: 100vh;
  
}

#leftContact{
float: left;

width: 50%;
height: 100%;

}
#photo1{
  background-image: url("photo.jpg");
  display:inline-block;
  float: right;
  margin-top: 25px;
  padding-top: 660px;
  padding-right: 50vh;
    
  background-size: cover!important;  
  
}

#rightContact{
  float: left;
  
  width: 40%;
  height: 100%;
  margin-left: 15px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 2px solid  #202020; /* Gray border */
  
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
 
  color: #252525;
  padding: 12px 20px;
  border: 1px solid  #202020;
  
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #00cccc;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}