body {
    margin: 0;
    padding: 0;
    background-color:  #f2f2f2;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
  }



#container
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.navigation-bar {
    background-color:  #f2f2f2;
    ;
    height: 150px;
    width: 100%;
    text-align:center;
    
  }
#logo{
    
   
    float: left;
    background-repeat: no-repeat;
    
}

#navigation-container{
    width: 100%;
    margin: 0 auto;
    height: 20vh;
    
   
}
.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align:bottom;
    float: right;
    padding-top: 40px;
    /*display:inline-block; było wcześniej, ale nie pozwalało mi przesunać menu na prawo */
   
  }

  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
   
  }
  
  .navigation-bar li a {
      
    color: #333333;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }






/* ~~ under header ~~ */



#banner{
 height: 70vh;
 background-image: url("banner.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 /*background-position: 100% 60%;*/
 clear: both;
 
}
#text{
    line-height: 40vh;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
}
#content{
height: 100%;
}
.section{
  /*margin-top: -22px; /*robią się przerwy między divami*/
 height: 200vh;
 color: #333333;

margin-top: -10vh;
/* background-color: gray;*/
 margin-left: 25vh;
 margin-right: 25vh;


}



/* section divs */

.upSection {
  height: 30%;
 /* background-color:azure;*/

  
  width: 100%;
  margin-bottom: 2vh;

}
.downSection{

  
 /* background-color:bisque;*/
  margin-bottom: 5vh;
  height: 30%;
  width: 100%;

}


 

/* image formation */

.imageSectionUp{
  height: 90%;
  width: 66vh;
  margin: 25px;
 

  background-image: url("fix.jpg");
  background-size: cover!important; 
  float:left;
  
}
.imageSectionDown{
  height: 90%;
  width: 66vh;
  margin: 25px;
  

  background-image: url("modernisationPc.jpg");
  background-size: cover!important; 
  float:right;
  
}



/* Text formation */

.rightTxt{
 float:left;
 /* background-color:chocolate;*/
  width: 45%;
  margin: 40px 20px 0px 43px;
  
  
}


.leftTxt{
  float:left;
  /* background-color:chocolate;*/
   width: 45%;
   margin: 40px 0px 0px 25px;
   
   
 }









/* button formation */



.button{
  border-style: solid;
color: #333333;
display: block;
width: 140px;
font-size: 24px;
text-transform: uppercase;
padding: 10px;
text-align: center;
cursor: pointer;
text-decoration: none;
float: left;

border-color: black;
}

#showMoreSL {
  margin: 40px 20px 0px 43px;
}

#showMoreSP {
  margin: 40px 0px 0px 25px;
}

/* break formation */

.break{
  background-image: url("step.jpg");
  height: 25%;
  /* background-color:azure;*/
 
   margin-left: -25vh;
   margin-right: -25vh;
   background-size: cover!important;  
  

}
#breakContent{

  margin-left: 25vh;
  margin-right: 25vh;
}
#breakHeader {
  line-height: 20vh;
    text-align: center;
    color: #f2f2f2;
    vertical-align: middle;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    font-size: 25px;
}
/* break step formation */

.breakStep{
  justify-content: center;
  
  
  display: flex;
   
}

#break1{
  background-color: black;
  width: 30vh;
  height: 15vh;
  float: left;
  margin-right: 15px;
}
#break2{
  background-color: black;
  width: 30vh;
  height: 15vh;
  float: left;
  margin-right: 15px;
}
#break3{
  background-color: black;
  width: 30vh;
  height: 15vh;
  float: left;
  margin-right: 15px;
}
#break4{
  background-color: black;
  width: 30vh;
  height: 15vh;
  float: left;
  
}
.number{
  font-weight: bold;
  font-size: 75px;
color: #f2f2f2;
float: left;
margin-top: -9px;
}
.stepHead{
  color: #f2f2f2;
 margin-top: 0px;
 font-size: 29px;
 margin-left: 85px;
}
.stepTxt{
  color: #f2f2f2;
  margin-left: 7px;
  font-weight: 100;
  font-size: 15px;
}